<div class="header-container">
    <div class="header-logo-container">
        <a href="/" class="header-logo-link">
            <img class="header-logo-image" src="/img/header_logo.png" alt="CRM"/>
        </a>
    </div>
    <ul class="navigation-menu">
        <li>
            <a class="navigation-menu-link" href="/barber/list">
                <span>Мастера</span>
            </a>
        </li>
        <li>
            <a class="navigation-menu-link" href="/client/list">
                <span>Клиенты</span>
            </a>
        </li>
    </ul>
</div>
